@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~bootstrap/dist/css/bootstrap.min.css";

header {
  display: grid;
  margin-bottom: 25px;
}

.navbar {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
/* index.css */
.navbar {
  background-color: #2d3748;
  height: 4rem;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.navbar .nav-links {
  display: flex;
}

.navbar .nav-links a {
  color: #cbd5e0;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  text-decoration: none;
}

.navbar .nav-links a:hover {
  color: #fff;
  background-color: #4a5568;
}

.navbar .brand {
  color: #fff;
}
/* index.css */
.home {
  background-color: #f7fafc;
}

.home .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 1rem;
}

.home h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #2d3748;
}

.home p {
  margin-bottom: 2rem;
  line-height: 1.5;
  text-align: center;
  color: #4a5568;
}

.home .contact-btn {
  background-color: rgb(110, 47, 198); /* Original RGB color */
  background-color: bg-indigo-500; /* Equivalent Tailwind CSS class */
  color: #ffffff;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
}

.home .contact-btn:hover {
  background-color: #2d3748;
}

.container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

header div {
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 10px;
}

.project {
  text-align: center;
  box-shadow: 0 0 10px 2px #d0d0d0;
  padding: 15px;
  border-radius: 5px;
}

.project h4 {
  margin-top: 0;
}

.project img {
  border: 1px solid grey;
  width: 300px;
  height: 200px;
  object-fit: cover;
}
