@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~bootstrap/dist/css/bootstrap.min.css";

header {
  display: grid;
  margin-bottom: 25px;
}

.navbar {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

header div {
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 10px;
}

.project {
  text-align: center;
  box-shadow: 0 0 10px 2px #d0d0d0;
  padding: 15px;
  border-radius: 5px;
}

.project h4 {
  margin-top: 0;
}

.project img {
  border: 1px solid grey;
  width: 300px;
  height: 200px;
  object-fit: cover;
}
